<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.app.nperest.domain.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.nperest.domain.SearchMemberDTO" alias="searchMemberDTO"/>
        <typeAlias type="com.app.nperest.domain.QnaVO" alias="qnaVO"/>
        <typeAlias type="com.app.nperest.domain.FileVO" alias="fileVO"/>
        <typeAlias type="com.app.nperest.domain.AnswerVO" alias="answerVO"/>
        <typeAlias type="com.app.nperest.domain.AnswerDTO" alias="answerDTO"/>
        <typeAlias type="com.app.nperest.domain.AnswerReplyVO" alias="answerReplyVO"/>
        <typeAlias type="com.app.nperest.domain.AnswerReplyDTO" alias="answerReplyDTO"/>
        <typeAlias type="com.app.nperest.domain.QnaDTO" alias="qnaDTO"/>
        <typeAlias type="com.app.nperest.domain.QnaDetailDTO" alias="qnaDetailDTO"/>
        <typeAlias type="com.app.nperest.domain.TagVO" alias="tagVO"/>
        <typeAlias type="com.app.nperest.domain.SkillVO" alias="skillVO"/>
        <typeAlias type="com.app.nperest.domain.CategoryVO" alias="categoryVO"/>
        <typeAlias type="com.app.nperest.domain.MemberSkillDTO" alias="memberSkillDTO"/>
        <typeAlias type="com.app.nperest.domain.QuestionDTO" alias="questionDTO"/>
        <typeAlias type="com.app.nperest.domain.MyAnswerDTO" alias="myAnswerDTO"/>
        <typeAlias type="com.app.nperest.domain.AnswerLikeVO" alias="answerLikeVO"/>
        <typeAlias type="com.app.nperest.domain.CareerVO" alias="careerVO"/>
        <typeAlias type="com.app.nperest.domain.IndustryVO" alias="industryVO"/>
        <typeAlias type="com.app.nperest.domain.CareerIndustryDTO" alias="careerIndustryDTO"/>
        <typeAlias type="com.app.nperest.domain.CareerSkillDTO" alias="careerSkillDTO"/>
        <typeAlias type="com.app.nperest.domain.CareerDTO" alias="careerDTO"/>
        <typeAlias type="com.app.nperest.domain.ModifyCareerInListInfo" alias="modifyCareerInListInfo"/>
        <typeAlias type="com.app.nperest.domain.EducationVO" alias="educationVO"/>
    </typeAliases>
</configuration>