<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.nperest.mapper.QnaMapper">
    <insert id="insertQna">
        insert INTO tbl_question (question_title, question_content, status, category_id, member_id)
        VALUES (#{questionTitle}, #{questionContent}, #{status}, #{categoryId}, #{memberId})
        <selectKey keyProperty="id" resultType="Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <insert id="insertFile">
        insert INTO tbl_file (file_name, file_path, question_id)
        VALUES (#{fileName}, #{filePath}, #{questionId})
    </insert>

    <insert id="insertTag">
        insert INTO tbl_tag (tag_name, status, question_id)
        VALUES (#{tagName}, #{status}, #{questionId})
    </insert>

    <select id="selectCategoryList" resultType="CategoryVO">
        select id, category_name, category_value
        from tbl_category
    </select>

    <select id="selectTopTen" resultType="QnaDTO">
        select subquery.id, subquery.created_date, question_title, hits, answerCnt
        from (select q.id, q.created_date, question_title, hits, count(a.id) as answerCnt
              from tbl_question q
                       left join tbl_answer a on q.id = a.question_id and a.status = 1
              where date(q.created_date) = curdate()
                and q.status = 1
              group by q.id) as subquery
        order by hits desc
        limit 10;
    </select>

    <select id="selectBestAnswer" resultType="QnaDTO">
        select q.id,
               q.question_title,
               coalesce(count(distinct a.id), 0) as answerCnt,
               coalesce(max(al.like_count), 0)   as maxLikeCnt
        from tbl_question q
                 left join tbl_answer a on q.id = a.question_id and a.status = 1
                 left join (select answer_id, count(*) as like_count
                            from tbl_answer_like
                            where status = 1
                            group by answer_id) al on a.id = al.answer_id
        where q.status = 1
        group by q.id, q.question_title
        order by maxLikeCnt desc
        limit 12;
    </select>

    <select id="selectQnaList" resultType="QnaDTO" parameterType="QnaDTO">
        SELECT q.id,
               q.question_title,
               q.question_content,
               q.status,
               q.category_id,
               q.member_id,
               q.created_date,
               m.member_name,
               m.member_position,
               q.hits,
               COUNT(DISTINCT a.id) AS answerCnt
        FROM tbl_question q
                 LEFT JOIN tbl_member m ON q.member_id = m.id
                 LEFT JOIN tbl_answer a ON q.id = a.question_id AND a.status = 1
        WHERE q.status = 1
          AND m.status = 1
        GROUP BY q.id, q.question_title, q.question_content, q.status, q.category_id, q.member_id, q.created_date,
                 m.member_name, m.member_position, q.hits
        order by q.id desc
    </select>



    <select id="selectDetail" resultType="qnaDetailDTO" parameterType="qnaDetailDTO">
        SELECT q.id,
               q.question_title,
               q.question_content,
               q.status,
               q.category_id,
               q.member_id,
               q.created_date,
               q.updated_date,
               c.category_name,
               c.category_value,
               GROUP_CONCAT(t.tag_name SEPARATOR ',') AS tags
        FROM tbl_question q
                 LEFT JOIN
             tbl_category c ON q.category_id = c.id
                 LEFT JOIN
             tbl_tag t ON q.id = t.question_id
        WHERE q.status = 1
          AND q.id = #{id}
        GROUP BY q.id,
                 q.question_title,
                 q.question_content,
                 q.status,
                 q.category_id,
                 q.member_id,
                 q.created_date,
                 q.updated_date,
                 c.category_name,
                 c.category_value
    </select>

</mapper>